.cont {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: #e0e1dd;
}

.loginCont {
  display: grid;
  place-items: center;
  background-color: #1b263b;
  grid-template-columns: 40vw;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 2rem;
  border-radius: 2rem 0 2rem 0;
}

.loginCont > h1 {
  color: #778da9;
}

.loginForm {
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  gap: 1rem;
}

.formInput {
  display: grid;
  place-items: left;
  gap: 0.2rem;
}

.label {
  text-align: left;
}

.input {
  border-style: none none solid none;
  background-color: inherit;
  border-radius: 0 0 0 0;
  padding: 0.5rem;
  color: white;
}

.input:focus {
  outline: none;
  border-color: #ffffff;
  transition: all 3s;
  animation: glow 3s infinite alternate-reverse;
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px; */
}

.error {
  color: red;
}

.showPasswordDiv {
  display: flex;
  gap: 0.2rem;
}

.passCheck {
}

.loginButton {
  background-color: #3f88c5;
  padding: 7px 40px;
  border-style: none;
}

.loginButton:hover {
  transition: all 3s;
  animation: glow 3s infinite alternate-reverse;
}

@keyframes glow {
  25% {
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  }
  60% {
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  }
  100% {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  }
}
