.mainNav {
  display: grid;
  grid-template-columns: 80vw 10vw;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fec5bb; */
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1;
}

.logo {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  /* color: #580c1f; */
  color: var(--secondary-color);
  margin-left: 20px;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: right;
  height: 10vh;
  transition: all 0.5s;
}

.profile > img {
  height: 10vh;
  width: fit-content;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  right: 10px;
  top: 10vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  transition: all 0.5s;
}

.dropItem {
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.dropItem:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.profile:hover .dropdown {
  display: block;
  animation: appear 0.5s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
