.cont {
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, 60px); */
  display: flex;
  flex-direction: column;
  background-color: #014f86;
  padding-top: 70px;
}

.link {
  /* height: 60px; */
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 5px;
  justify-content: left;
  font-size: 30px;
  color: #61a5c2;

  transition: 0.5s all;
  overflow: hidden;
}

.link:hover {
  background-color: #a9d6e5;
  color: #40819c;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.active {
  background-color: #a9d6e5;
  color: #40819c;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /* text-shadow: 2px 2px 2px rgb(0, 0, 0); */
}
