.cont {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding-top: 40px;
  gap: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.head {
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #003060;
  height: 50px;
  margin-left: 2px;
  margin-right: 2px;
}

.box {
  width: 30%;
  background-color: #68bbe3;
  padding: 20px;
  text-align: center;
  border: 2px solid #68bbe3;
  justify-content: space-between;
}

.noticeboard {
  background-color: #003060;
  color: #fff;

  border: 1px solid #003060;

  margin-left: 2px;
  margin-right: 2px;
  margin-top: -16px;
}

.noticehead {
  font-size: 40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.noticelist {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  padding: 0;
}

.notice {
  border-style: solid none;
  padding-left: 1rem;
  padding: 20px 10px;
  border-color: white;
  transition: all 0.5s;
}

.notice:hover {
  background-color: #68bbe3;
  color: white;
}

.emergency {
  background-color: #0e86d4;
  color: rgb(165, 0, 0);
  padding: 20px;
  border: 1px solid #0e86d4;
  position: absolute;
  width: 85vw;
  bottom: 0;
}

.emergencyhead {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -12px;
}

.emergencylist {
  list-style-type: none;
  padding: 0;
}

.emergencyitem {
  color: white;
}

.modalCont {
  color: white;
  background-color: rgb(0, 38, 12);
  padding: 20px;
  width: 80vw;
  border-style: solid;
  /* border-color: #966f33; */
  border-width: 10px;
  border-image: url('../../assets/Images/border.png') 30 / 19px round;
}

.modalHead {
  font-size: 40px;
  border-style: none none solid none;
}

.modalNotice {
  font-size: 20px;
  padding: 10px;
}

.extras {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85vw;
}

.sideCont {
  background-color: #003060;
  padding: 10px 30px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 40% 60%;
  transition: all 0.5s;
  cursor: default;
}

.sideCont:hover {
  background-color: #68bbe3;
  color: #003060;
}

.sideHead {
  font-size: 30px;
}

.sidelist {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'date day'
    'date month';
  list-style: none;
  place-items: center;
  gap: 1rem;
}

.sideitem1 {
  font-size: 40px;
  grid-area: date;
}
.sideitem2 {
  font-size: 20px;
  grid-area: month;
}
.sideitem3 {
  font-size: 20px;
  grid-area: day;
}
